---
layout: layout.liquid
title: Planetary Playing Cards
---

<h1>Planetary <strong>Playing Cards</strong></h1>

<main class="module">
    <div class="one">
        <div class="avatar"></div>
        <h2>Sun</h2>
        <p>Type G2V</p>
    </div>
    <div class="two">
        <div class="avatar"></div>
        <h2>Mercury</h2>
        <p>0.39 AU</p>
    </div>
    <div class="three">
        <div class="avatar"></div>
        <h2>Venus</h2>
        <p>0.72 AU</p>
    </div>
    <div class="four">
        <div class="avatar"></div>
        <h2>Earth</h2>
        <p>1.00 AU</p>
    </div>
    <div class="five">
        <div class="avatar"></div>
        <h2>Mars</h2>
        <p>1.52 AU</p>
    </div>
    <div class="six">
        <div class="avatar"></div>
        <h2>Jupiter</h2>
        <p>5.20 AU</p>
    </div>
    <div class="seven">
        <div class="avatar"></div>
        <h2>Saturn</h2>
        <p>9.58 AU</p>
    </div>
    <div class="eight">
        <div class="avatar"></div>
        <h2>Uranus</h2>
        <p>19.22 AU</p>
    </div>
    <div class="nine">
        <div class="avatar"></div>
        <h2>Neptune</h2>
        <p>30.05 AU</p>
    </div>
</main>

<img alt="pine" src="/images/pine.png" width="30" />